.cart-headers-wrapper {
    width: 90%;
}
.cart-info-wrapper{
    color: #fff;
    font-size: 18em;
    width: 52%;
}
.cart-headers-wrapper FlexboxLayout + FlexboxLayout {
    margin-top: 5vh
}

FlexboxLayout > Label + Label {
    padding-left: 1;
    padding-right: 1;
}

.checkout-btn {
    width: 36%;
    height: 10%;
    background-color: #fff;
    color: #FF3838;
    border-radius: 10%;
    font-weight: bold;
    text-transform: none;
    margin-left: 4%;
}
.is-empty-lbl{
    font-weight: bold;
    font-size: 20em;
    margin-top: 200;
    color: rgb(204, 195, 195)
}
.list-item{
    height: 110;
}

.remove-btn{
    z-index: 0;
    background-image: url("res://close");
    background-position: right;
    background-size: 50 50;
    background-repeat: no-repeat;
    height: 40%;
    width: 10%;
}