
.search-img {
    width: 5%;
    height: 5%;
}
.search-stklayout {
    border-bottom-color: white;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    width: 75%;
}
.search-txtfld {
    background-color: transparent;
    color: white;
    placeholder-color: white;
    font-size: 20em;
    width: 95%;
}

.items-list{
    margin-right: 30vw;
    margin-left: 30vw;
}
.list-item .drug-info-wrapper {
    width: 95%;
}
.list-item Label+StackLayout {
    margin-top: 10;
}
.list-item StackLayout Label + Label {
    margin-top: 0vh
}
.red{
    color: #FF3838;
}
.discount-box{
    height: 45;
}
.discount-box Label {
    margin-top: 12vh;
}
.search-btn {
    width: 35;
    height: 25;
    background-image: url('res://fa_search');
    background-repeat: no-repeat;
    z-index: 0;
    margin-top: 15;
}
.bigger-font {
    font-size: 22em;
}