.wrapper{
    background-color: #fff;
    width: 100%;
    padding-top: 20vh;
}
.semi-actionbar{
    width: 100%;
}
.close{
    width: 30vw;
    height: 30vh;
    opacity: .5
}
.semi-actionbar Image+Image{
    margin-left: 72%;
}
.action-bar-logo{
    margin-left: 4%;
}
.component-wrapper{
    width: 100%;
    border-top-right-radius: 25%;
    background-color: transparent
}
.bottom-controllers-layout {
    height: 100vh;
    top: 600;
    left: 0;
    background-color: white;
    width: 100%;
    padding-top: 10%;
}
.form-body{
    margin-right: 6.5%;
    margin-left: 6.5%;
}
.headers.primary-color{
    color: #FF3838;
}
.edit-info-label{
    font-size: 18em;
    margin-left: 6%;
    margin-right: 6.5%;
    padding-bottom: 20%;
    margin-top: 20vh;
    margin-bottom: 1%;
    border-bottom-width: 1;
    border-bottom-color: #bebdc2;

}
.custom-input-stacklayout {
    margin-top: 20vh;
    border-width: 1;
    border-color: #a7a6aa;
    width: 100%;
}
.custom-input-stacklayout Label {
    margin-left: 5%;
    margin-top: 10vh;
    color: #b1b0b4;
    font-weight: bold;
}
.custom-input-stacklayout TextField {
    margin-left: 4%;
    color: #27252d;
    font-weight: bold;
}
.max-width{
    width: 100%
}
.save-card{
    margin-left: 42%;
    background-color: #FF3838;
}
.save-label{
    padding-top: 20%;
    font-size: 18em;
}
.label-header{
    margin-top: 5vh;
    width: 100%;
    font-size: 16em;
    font-weight: bold;
    color: #b1b0b4;
}
.label-header2{
    margin-top: 30vh;
    width: 100%;
    font-size: 16em;
    font-weight: bold;
    color: #b1b0b4;
}
.light-opacity{
    opacity: .7;
}
.line{
    border-width: 1em;
    border-color: #bebdc2;
    width: 10%;
    margin-left: 0%;
}
.filter-stklayout{
    height: 70vh;
    width: 70vw;
}
.filter-stklayout Image {
    margin-top: 10%;
}