.search-btn {
    width: 35;
    height: 25;
    background-image: url('res://fa_search');
    background-repeat: no-repeat;
    z-index: 0;
    margin-top: 15;
}
.search-stklayout {
    border-bottom-color: white;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    width: 80%;
}
.search-txtfld {
    background-color: transparent;
    color: white;
    placeholder-color: white;
    font-size: 20em;
    width: 95%;
}
.items-list{
    margin-right: 30;
    margin-left: 30;
}

