.bottomNav{
    width: 100%;
    height: 15%;
    background: #560BD0;
}
.bottom-controllers-layout {
    height: 100%;
    background-color: aquamarine;
    width: 100%;
}
.bottom-controllers-layout .btm-nav-side-right-btn {
    margin-left: 12%;

}
.bottom-controllers-layout Button + .filter-stklayout {
    margin-left: 8%;
    margin-top: 2%;
}
.bottom-controllers-layout .filter-stklayout+ Button  {
    margin-left: 8%;
}

.btm-nav-side-left-btn{
    background-image: url('res://fa_shopping_cart');
    background-repeat: no-repeat;
    background-position: top;
    border-width: 0;
    z-index: 0;
    padding-top: 10vh;
}
.btm-nav-side-right-btn{
    background-image: url('res://fa_user');
    background-repeat: no-repeat;
    background-position: bottom;
    border-width: 0;
    z-index: 0;
    height: 100%;
    width: 25%;
    background-color: antiquewhite;
}
.btm-nav-side-center-btn{
    height: 100%;
    width: 100%;
    background-color: #fff;
    background-image: url('res://fa_filter');
    background-size: 25% 25%;
    background-repeat: no-repeat;
    background-position: 50% 25% ;
    color: #560BD0;
    font-weight: bold;
    font-size: 12em;
    z-index: 0;
    padding-top: 35%;
    border-radius: 20%;
    text-transform: none;

}
.filter-stklayout{
    height: 80%;
    width: 25%;
    background-color: #fff;
    overflow: hidden;
    border-radius: 15%;
    z-index: 30;
}

.new-item-label{
    height: 8;
    width: 8;
    border-radius: 50%;
    background-color: #FF3838;
}
