.item-headers-wrapper {
    width: 90%;

}
Label + Label {
    padding-left: 4;
    padding-right: 4;
}
.item-info-wrapper {
    color: #fff;
    font-size: 18em;
    width: 83%;
}

.first-layer FlexboxLayout+FlexboxLayout {
    margin-top: 5vh
}


