page {
    z-index: 0;
}
.main-container{
    background-color: #fff;
    height: 600;
    width: 90%;
    margin-left: 5%;
    border-width: 10;
    border-radius: 50;
    border-color: #626066;
    padding: 10;
    z-index: 900;
}
.logo{
    background-color: #fff;
    border-width: 10;
    border-radius: 50;
    border-color: #626066;
    padding: 10;
    z-index: 900.1;
}
.logo-wrapper{
    width: 60;
    height: 60;
    background-color: transparent;
}
.higher-logo{
    top: 8;
    left: 0;
    height: 18;
    width: 15;
    margin-left: 22;
    background-color: #FF3838;
    border-top-left-radius: 19;
    border-top-right-radius: 19;
}
.lower-logo{
    top: 29;
    left: 17;
    height: 18;
    width: 24;
    background-color: #fff;
    border-width: 5;
    border-top-width: 00;
    border-color: #000;
    border-bottom-left-radius: 27;
    border-bottom-right-radius: 27;
}
.main-container .first-label{
    margin-top: 40%;
    font-weight: bold;
    font-size: 21;
    margin-left:5%;
}
.main-container .second-label{
    font-weight: bold;
    font-size: 21;
}
Button {
   text-transform: none;
   color: #fff;
   font-weight: bold;
   background-color: #FF3838;
   border-radius: 10;
   z-index: 990;
}